<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UEFA Champions League 2020-21</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
      
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
            <img src="../static/image/ChampionsLeague.png" width="40" height="40" class="d-inline-block align-top" alt="soccer ball image">
            <strong> UEFA Champions League 2020-21: Top 4 Team Insights</strong> 
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <li class="nav-item">
                          <a class="nav-link" href="/about"><strong>About UEFA </strong></a>
                        </li>
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Findings</strong></a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/top_countries">UEFA Country Performance Insights</a>
                            <a class="dropdown-item" href="/team_foreign_minutes">Interactive Plotly Graph Of Played Minutes</a>
                            <a class="dropdown-item" href="/all_team_data">Plotly Graph Showing Stats</a>
                            <a class="dropdown-item" href="/geomap_player_nationalities">Top 4 Teams Players' Nationalities</a>
                          </div>
                      </li>
                      <li class="nav-item">
                       <a class="nav-link" href="/summary"><strong>Summary</strong></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/data"><strong>Data Results</strong></a>
                      </li>
                  </ul>
               </div>
        </nav>
      </header>

        <div class="jumbotron">
          <div class="container data p-3 my-3 border bg-white">
            <header>
              <br>
              <h3 id="header">UEFA Champions League 2020-21: Top 4 teams</h3>   
              <br>         
              <hr style="width:98%;text-align:left;margin-left:1;">
              <br>
              <p id="parag">The following table includes data used for our 4 visualisations during this project.</p> 
              <br>
              <br>
            </header>
              <table id="teams" class="table table-hover">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Club</th>
                    <th>Nationality</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>0</th>
                    <td>Chelsea FC</td>
                    <td>Belgium</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>1</th>
                    <td>Chelsea FC</td>
                    <td>Brazil</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>Chelsea FC</td>
                    <td>Croatia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Chelsea FC</td>
                    <td>Denmark</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>4</th>
                    <td>Chelsea FC</td>
                    <td>England</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th>5</th>
                    <td>Chelsea FC</td>
                    <td>France</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>6</th>
                    <td>Chelsea FC</td>
                    <td>Germany</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>7</th>
                    <td>Chelsea FC</td>
                    <td>Italy</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>8</th>
                    <td>Chelsea FC</td>
                    <td>Morocco</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>9</th>
                    <td>Chelsea FC</td>
                    <td>Senegal</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>10</th>
                    <td>Chelsea FC</td>
                    <td>Spain</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>11</th>
                    <td>Chelsea FC</td>
                    <td>United States</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>12</th>
                    <td>Chelsea FC</td>
                    <td>Wales</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>13</th>
                    <td>Manchester City</td>
                    <td>Algeria</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>14</th>
                    <td>Manchester City</td>
                    <td>Belgium</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>15</th>
                    <td>Manchester City</td>
                    <td>Brazil</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>16</th>
                    <td>Manchester City</td>
                    <td>England</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th>17</th>
                    <td>Manchester City</td>
                    <td>France</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>18</th>
                    <td>Manchester City</td>
                    <td>Germany</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>19</th>
                    <td>Manchester City</td>
                    <td>Netherlands</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>20</th>
                    <td>Manchester City</td>
                    <td>Portugal</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>21</th>
                    <td>Manchester City</td>
                    <td>Spain</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>22</th>
                    <td>Manchester City</td>
                    <td>Ukraine</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>23</th>
                    <td>Manchester City</td>
                    <td>United States</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>24</th>
                    <td>Paris Saint-Germain</td>
                    <td>Argentina</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>25</th>
                    <td>Paris Saint-Germain</td>
                    <td>Brazil</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>26</th>
                    <td>Paris Saint-Germain</td>
                    <td>Costa Rica</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>27</th>
                    <td>Paris Saint-Germain</td>
                    <td>France</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <th>28</th>
                    <td>Paris Saint-Germain</td>
                    <td>Germany</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>29</th>
                    <td>Paris Saint-Germain</td>
                    <td>Haiti</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>30</th>
                    <td>Paris Saint-Germain</td>
                    <td>Italy</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>31</th>
                    <td>Paris Saint-Germain</td>
                    <td>Netherlands</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>32</th>
                    <td>Paris Saint-Germain</td>
                    <td>Poland</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>33</th>
                    <td>Paris Saint-Germain</td>
                    <td>Portugal</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>34</th>
                    <td>Paris Saint-Germain</td>
                    <td>Senegal</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>35</th>
                    <td>Paris Saint-Germain</td>
                    <td>Spain</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <th>36</th>
                    <td>Real Madrid</td>
                    <td>Belgium</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th>37</th>
                    <td>Real Madrid</td>
                    <td>Brazil</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th>38</th>
                    <td>Real Madrid</td>
                    <td>Croatia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>39</th>
                    <td>Real Madrid</td>
                    <td>Dominican Republic</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>40</th>
                    <td>Real Madrid</td>
                    <td>France</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>41</th>
                    <td>Real Madrid</td>
                    <td>Germany</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>42</th>
                    <td>Real Madrid</td>
                    <td>Norway</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>43</th>
                    <td>Real Madrid</td>
                    <td>Serbia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>44</th>
                    <td>Real Madrid</td>
                    <td>Spain</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th>45</th>
                    <td>Real Madrid</td>
                    <td>Ukraine</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>46</th>
                    <td>Real Madrid</td>
                    <td>Uruguay</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
         </div>
      </div>

       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>