<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UEFA Champions League 2020-21</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
      

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/">
                <img src="../static/image/ChampionsLeague.png" width="40" height="40" class="d-inline-block align-top" alt="soccer ball image">
                <strong> UEFA Champions League 2020-21: Top 4 Team Insights</strong> 
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                   <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                            <li class="nav-item">
                              <a class="nav-link" href="/about"><strong>About UEFA </strong></a>
                            </li>
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Findings</strong></a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/top_countries">UEFA Country Performance Insights</a>
                                <a class="dropdown-item" href="/team_foreign_minutes">Interactive Plotly Graph Of Played Minutes</a>
                                <a class="dropdown-item" href="/all_team_data">Plotly Graph Showing Stats</a>
                                <a class="dropdown-item" href="/geomap_player_nationalities">Top 4 Teams Players' Nationalities</a>
                              </div>
                          </li>
                          <li class="nav-item">
                           <a class="nav-link" href="/summary"><strong>Summary</strong></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/data"><strong>Data Results</strong></a>
                          </li>
                      </ul>
                   </div>
            </nav>
          </header>

    <div class="jumbotron">
      <h1 class="display-4"><strong> DO PLAYERS OF FOREIGN NATIONALITIES AFFECT THE PERFORMANCE OF THE TEAM? </strong></h1>
      <br>
      <hr class="my-4">
      <p><strong>Country summary for the Leagues Participating in EPL</strong>
        <br>
        - England has the highest cumulative Teams Rating.
        <br>
       -  Italy has the highest Team Goals and Shots.
        <br>
       - Spain has the highest Team Yellow Cards.
        <br>
      - France has the highest Red Cards.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/top_countries" role="button">UEFA Country Performance Insights</a>
      </p>
      <hr class="my-4">

      <p> Overall:
          <br>
        - Bottom 3 teams in each league for foreign player minutes percentage do not make the top 10 (excluding Stade Rennais, Ligue 1)
        <br>
        <br>
        Ligue 1: <br>
        - 3 of the top 4 teams have 60%+ percentage of their player minutes played by foreign players
        - All 4 teams have more foreign palyers than native players in their lineup
        <br>
        <br>
        LaLiga: <br>
        - All 4 of top 4 teams have 60% or more percentage of player minutes played by foreign players <br>
        - All 4 have more foreign players than native players in their lineup <br>
        <br>
        Premier League: <br>
        - All 4 of top 4 teams have 60% percentage of their player minutes played by foreign players<br>
        - All 4 have more foreign players than native players in their lineup<br>
        </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/team_foreign_minutes" role="button">Interactive Plotly Graph Of Played Minutes</a>
      </p>
      <hr class="my-4">

      <p>This plotly bar chart shows the teams by country and the relevant statistics related to soccer. 
          For example goals, shots, yellow cards, red cards, possessions, passes, aerial wins and ratings.
        <br>
      The findings as listed above, in the Geo Map of the Top 4 Countries, with the addition of the following listed below:
      <br>
      - Italy & Spain have the highest tally of team possessions.
      <br>
     - France has the highest tally of team passes. 
      <br>
     - Spain has the highest tally of team aerial wins. </p>
      
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/all_team_data" role="button">Plotly Graph Showing Stats</a>
      </p>
      <hr class="my-4">

      <p> From the data set utilised for the GeoMapping, roughly 30 percent of the team players originate (Nationality) from that origin. i.e ~34% of Chelsea Players are from England. Although, there are limitations 
        <br>
        to the dataset making it skewed. A significantly higher number of players are not native to that origin, rather chose to adopt their nationality due to dual citizenship.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/geomap_player_nationalities" role="button">Top 4 Teams Players' Nationalities</a>
      </p>
    </div>
  
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>