<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foreign Players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="index.html"><strong>UEFA Champions League 2020-21</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Graphs</strong></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="">Graph 1</a>
                            <a class="dropdown-item" href="">Graph 2</a>
                            <a class="dropdown-item" href="">Graph 3</a>
                            <a class="dropdown-item" href="">Graph 4</a>
                          </div>
                      </li>
                      <li class="nav-item">
                       <a class="nav-link" href="Summary.html"><strong>Summary</strong></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="Data_table.html"><strong>Results</strong></a>
                      </li>
                  </ul>
               </div>
      </nav>
    </header>

    <select id="selDataset">
        <option value="ligue1">Ligue 1</option>
        <option value="laliga">La Liga</option>
        <option value="premierleague">Premier League</option>
      </select>
    
      <div class="row">
        <div class="col-md-4">
            <div class="well">
                <img id="image" src='../../images/table_ligue1.jpg' alt="league table" width="430" height="800">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <div id="plot"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="plot2"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/plot.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
